[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/bestmust
[access "refs/for/refs/*"]
	read = group user/bestmust
	push = group user/bestmust
	label-Code-Review = -2..+2 group user/bestmust
	label-Verified = -1..+1 group user/bestmust
	rebase = group user/bestmust
	removeReviewer = group user/bestmust
	submit = group user/bestmust
[access "refs/heads/*"]
	read = group user/bestmust
	create = group user/bestmust
	push = +force group user/bestmust
	pushMerge = group user/bestmust
[access "refs/tags/*"]
	push = +force group user/bestmust
	pushTag = group user/bestmust
	pushSignedTag = group user/bestmust
